@import '../../style-variables';


.ProfileHeader {
  .image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    .Avatar {
      box-shadow: 0 0.5em 2em $light-accent;
    }
  }
  .settings .stats, .bio {
    float: left;
    width: calc(66.666% - 2rem);
  }
  .settings {
    display: flex;
    align-items: center;
    .username {
      font-weight: 300;
      margin-top: 1.1rem;
    }
    .button-container button {
      font-family: inherit;
      letter-spacing: inherit;
      line-height: 1.8;
      font-size: 1rem;
      border: 0.1rem solid #dbdbdb;
      border-radius: $corner;
      padding: 0 2.4rem;
      margin-left: 2rem;
      background: rgba(255, 255, 255, 0);
      cursor: pointer;
      box-shadow: 0 0.5rem 2rem $light-accent;
      &:focus {
        outline: 0.5rem auto $light-color; //#4d90fe
      }
    }
  }
  .bio {
    .name {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
}

body.Dark {
  .ProfileHeader {
    .Avatar{
      box-shadow: 0 0.5em 2em $dark-accent;
    }
    color: $pure-white;
    .button-container button {
      color: $pure-white;
      box-shadow: 0 0.5em 2em $dark-accent;
      &:focus {
        outline: 0.5rem auto #4d90fe; //
      }
    }
  }
}