@import "/src/library/scss/shared-styles.scss";

.PostCreate {
  margin: 200px auto 0;
  max-width: 600px;
  background: $background;
  border-radius: $corner-big;
  width: 65vw;
  padding: 2rem 2.5rem;
  header {
    h1 {
      font-size: 1.3rem;
      text-align: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      user-select: none;
    }
  }
  .form-group {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    label {
      margin: 0.4em 0;
      text-transform: capitalize;
    }
    input {
      width: 100%;
      background: #fafafa;
      border: 0.1rem solid #dbdbdb;
      font-size: 1em;
      padding: 0.6em 1em;
      font-family: inherit;
      text-transform: lowercase;
      letter-spacing: inherit;
      outline: none;
      border-radius: $corner;
      margin-bottom: 10px;
    }
  }

  .submit button {
    width: 100%;
    background: $dark-main;
    color: $pure-white;
    border: none;
    padding: 0.6em 0;
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 900;
    letter-spacing: inherit;
    border-radius: $corner;
    &:active {
      opacity: 0.85;
    }
  }
  .controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.7em 0 1em;
    font-size: 1.1em;
    font-weight: bold;

    .aspect-root {
      display: inline-flex;
      border: none;
      background-color: $light-accent;
      border-radius: $corner;
      box-shadow: 0 0.5em 2em $light-accent;
    }
    .aspect-button {
      all: unset;
      background-color: $pure-white;
      color: $dark;
      height: 35px;
      width: 35px;
      font-size: 15px;
      line-height: 1;
      align-items: center;
      justify-content: center;
      margin-left: 1px;
      padding: 0;
      transition: background-color $transition-fast;
      text-align: center;
      &:first-child {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &[data-state="on"] {
        background-color: $light-main;
        color: $pure-white;
      }
      &:hover {
        background-color: $light-main;
        color: $pure-white;
      }

      &:focus {
        position: relative;
        // box-shadow: 0 0 0 2px $pure-white;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

//  margin: 35vh auto;
//  max-width: 33vw;
//  background: $background;
//  padding: 0.8em 1.4em;
//  box-shadow: 0 0 2em $background;
//  min-height: 36%;
//  min-width: 36%;
//  border-radius: $corner;
//  h2, p {
//    text-align: center;
//  }
//  .file {
//    opacity: 0;
//    height: 135px;
//    z-index: 2;
//    width: 100%;
//  }
//  span {
//    position: absolute;
//    border-style: dotted;
//    width: 100%;
//    height: 135px;
//    text-align: center;
//    z-index: 1;
//    border-radius: 10px;
//  }
//  button {
//    position: absolute;
//    z-index: 3;
//  }
