@import "/src/library/scss/shared-styles.scss";
//
.ImageEdit {
  position: relative;
  object-fit: cover;
  height: auto;
  width: auto;

  button {
    background: $dark-main;
    color: $pure-white;
    border: none;
    padding: 0.5em 0.9em;
    position: relative;
    // transform: translate(-50%, -50%);
  }
  .finished {
    position: aboslute;
  }
  .crop-media {
    width: 100%;
    max-width: initial !important;
    max-height: initial !important;
  }
}
//  position: absolute;
//  top: 0;
//  right: 0;
//  left: 0;
//  bottom: 0;
//  background: $dark;
//  .preview {
//    position: absolute;
//    top: 0;
//    right: 25%;
//    left: 0;
//    bottom: 0;
//  }
//  .controls {
//    position: absolute;
//    top: 0;
//    right: 0;
//    left: 75%;
//    bottom: 0;
//  }
//}
//
//.controls select {
//  padding: 8px;
//  font-size: 0.8em;
//  font-weight: 700;
//}
