@import '../../../style-variables';

  .header-profile-menu {
    background: $pure-white;
    border-radius: $corner;
    box-shadow: 0 0 0.66em $shadow;
    position: absolute;
    right: 0;
    top: 100%;
    .close-icon {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      color: $dark;
      padding: 0.6em;
      box-sizing: content-box;
      transition: color $transition-faster;
      &:hover {
        color: $dark-main;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        width: 240px;
        cursor: pointer;
        &:first-child a {
          padding-top: 1em;
        }
        &:last-child a {
          padding-bottom: 1em;
        }
        a {
          padding: 0.5em 1em;
          display: block;
          color: $dark;
          text-decoration: none;
          transition: scaleX $transition-fast;

          &:visited {
            color: inherit;
          }
          &:hover {
            color: $dark-main;
          }
          span {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -3px;
              left: 0;
              background-color: $dark-main;
              transform: scaleX(0);
              transition: transform $transition-slow;
            }
          }
          &:hover span:after, &:active span:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }