@import "/src/library/scss/shared-styles.scss";

.Search {
  color: $light-color;
  display: flex;
  align-items: center;
  flex-flow: column;
  display: flex;
  width: 60vw;
  margin: 100px auto 0;
  // height: 50vh;
  background: $background;
  border-radius: $corner-big;
  header {
    h1 {
      font-size: 1.3rem;
      text-align: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      // border-bottom: 1px dotted $light-accent;
      user-select: none;
    }
  }
  input {
    padding: 0.5em 0.8em;
    font-size: 1em;
    width: 40vw;
    outline: none;
    border-radius: $corner;
    font-family: inherit;
    letter-spacing: inherit;
    border: 1px solid $light-accent;
    border-radius: $corner;
  }
  .results {
    justify-content: center;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
  }
}
