@import "/src/library/scss/shared-styles.scss";

.ProfileGallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  padding-bottom: 3rem;
  .item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5em 2em $light-accent;
    &:hover .item-info,
    &:focus .item-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .item-info {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        font-size: 1.7rem;
        font-weight: 600;
        svg {
          margin: 0 0.2rem;
        }
      }
    }
  }
}

body.Dark {
  .ProfileGallery {
    .item {
      box-shadow: 0 0.5em 2em $dark-accent;
    }
  }
}
