@import '../../style-variables';
//
.ImageEdit {
    position: relative;
    width: 100%;
    height: 400px;
  .finished {
    background: $pure-white;
    position: absolute;
    left: 0;
    right: 0;
    top: -50;
  }
  //.controller {
  //  position: fixed;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  height: 20%;
  //}
}
//  position: absolute;
//  top: 0;
//  right: 0;
//  left: 0;
//  bottom: 0;
//  background: $dark;
//  .preview {
//    position: absolute;
//    top: 0;
//    right: 25%;
//    left: 0;
//    bottom: 0;
//  }
//  .controls {
//    position: absolute;
//    top: 0;
//    right: 0;
//    left: 75%;
//    bottom: 0;
//  }
//}
//
//.controls select {
//  padding: 8px;
//  font-size: 0.8em;
//  font-weight: 700;
//}