$pure-white: #fefefe;
$background: rgba(255, 255, 255, 96%);
$dark: #2a2a2d;
$shadow: #555;
$error: #f22929;
$main: #2944f2;
$corner: 0.6em;

.Login {
  background: $background;
  padding: 0.8em 1.4em;
  box-shadow: 0 0 2em $background;
  min-height: 36%;
  min-width: 36%;
  border-radius: $corner;
  h2, p {
    text-align: center;
  }
}

.sign-up-container {
  margin: 0.6em 0;
  a {
    padding: 0.2em;
  }
  a:visited {
    color: $main;
  }
}