@import '../style-variables';

.Login {
  margin: 200px auto;
  width: 450px;
  background: $background;
  padding: 2em 2.5em;
  box-shadow: 0 0 2em $shadow;
  border-radius: $corner;
  h2, p {
    text-align: center;
  }
  .form-group {
    margin-bottom: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    label {
      width: 130px;
      text-transform: capitalize;
    }
    input {
      width: 100%;
      font-size: 1em;
      padding: 0.3em 0.6em;
      font-family: inherit;
      text-transform: lowercase;
      letter-spacing: inherit;
      outline: none;
      border: 1px solid $light-accent;
      border-radius: $corner; // divide by 2
    }
  }

  .error-message {
    position: absolute;
    left: 103%;
    top: 0;
    background: $pure-white;
    border-radius: $corner;
    padding: 0.35em 0.85em;
    box-shadow: 2px 2px 5px $shadow;
    width: 245px;
    font-size: 0.95em;
    font-weight: 500;
    color: $light-color;

    &:before {
      position: absolute;
      left: -2.7em;
      content: "!";
      font-weight: 600;
      border-radius: 50%;
      border: 1px solid $error;
      width: 23px;
      text-align: center;
      color: $error;
    }
  }

  .submit button {
    width: 100%;
    background: $dark-main;
    color: $pure-white;
    border: none;
    padding: 0.6em 0;
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 900;
    letter-spacing: inherit;
    border-radius: $corner;
    margin-bottom: 10px;
    &:active {
      opacity: 0.85;
    }
  }

  .sign-in-container {
    margin: 0.6em 0;
    a {
      color: $dark-main;
      text-decoration: none;
      padding: 0.2em;
    }
    a:visited {
      color: $dark-main;
    }
  }
}