@import "/src/library/scss/shared-styles.scss";

.Header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 10px;
  background: $light-gradient;
  box-shadow: 0 5px 1em $light-shadow;
}

body.Dark {
  .Header {
    background: $dark-gradient;
    box-shadow: 0 0 0 $dark-shadow;
  }
}
