@import '../../style-variables.scss';

.Post {
  background: $background;
  border-radius: $corner;
  width: 550px;
  // margin: 0.6em 0;
  margin: 0 auto;
  header {
    padding: 0.8em 1.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .date svg {
      margin-right: 7px;
    }
  }

  h2, p {
    // text-align: center;
  }
  .likes {
    margin-top: 20px;
  }
}

.user-group {


  display: flex;
  align-items: center;
  a {
    padding-left: 0.2em;
    text-decoration: none;
    font-weight: 500;
    color: $dark;
  }
  a:visited {
    color: inherit;
  }
}