@import "/src/library/scss/shared-styles.scss";

.ProfileCustomize {
  right: 400px;
  top: 80px;
  width: 280px;
  height: 300px;
  background: $pure-white;
  display: inline-block;
  // line-height: 1.8;
  font-size: 1rem;
  color: $dark;
  border: 0.1rem solid #dbdbdb;
  border-radius: $corner;
  padding: 1rem 2.4rem;
  margin: 2rem;
  background: $pure-white;
  cursor: pointer;
  box-shadow: 0 0.5rem 2rem $dark-accent;
  z-index: 1;
  header {
    h1 {
      font-size: 1.3rem;
      text-align: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px dotted $light-accent;
      user-select: none;
    }
  }
  .colorpicker-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      font-size: 1.2rem;
    }
  }
  .open-colorpicker {
    background: $pure-white;
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
  }
}
