@import "/src/library/scss/shared-styles.scss";

.ProfileCustomize {
  width: 350px;
  height: 100vh;
  background: $pure-white;
  display: inline-block;
  // line-height: 1.8;
  font-size: 1rem;
  color: $dark;
  border: 0.1rem solid #dbdbdb;
  border-radius: $corner;
  padding: 1rem 2.4rem;
  margin: 2rem;
  background: $pure-white;
  box-shadow: 0 0.5rem 2rem $dark-accent;
  animation-name: fadeInDown;
  animation-duration: $speed-slower;
  animation-fill-mode: both;

  header {
    h1 {
      font-size: 1.3rem;
      text-align: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px dotted $light-accent;
      user-select: none;
    }
  }
  .colorpicker-group {
    label {
      font-size: 1.2rem;
    }
  }
  .open-colorpicker {
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: block;
  }
}
