@import '../../style-variables';

.SearchResult {
  width: 150px;
  height: 120px;
  background: $pure-white;
  box-shadow: 0 0 0.5em $light-accent;
  margin: 0.5em;
  border-radius: $corner;
  border: 1px solid $light-accent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $dark;
  font-weight: 500;
  span {
    color: inherit;
  }
}