@import '../style-variables';

.PostCreate {
  margin: 0 auto;
  max-width: 400px;
  .form-group {
    width: 100%;
    label {
      margin: 0.4em 0;
      text-transform: capitalize;
    }
    input {
      width: 100%;
      background: #fafafa;
      border: 0.1rem solid #dbdbdb;
      font-size: 1em;
      padding: 0.6em 1em;
      font-family: inherit;
      text-transform: lowercase;
      letter-spacing: inherit;
      outline: none;
      border-radius: $corner;
      margin-bottom: 10px;
    }
  }

  .submit button {
    width: 100%;
    background: $dark-main;
    color: $pure-white;
    border: none;
    padding: 0.6em 0;
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 900;
    letter-spacing: inherit;
    border-radius: $corner;
    &:active {
      opacity: 0.85;
    }
  }
}

//  margin: 35vh auto;
//  max-width: 33vw;
//  background: $background;
//  padding: 0.8em 1.4em;
//  box-shadow: 0 0 2em $background;
//  min-height: 36%;
//  min-width: 36%;
//  border-radius: $corner;
//  h2, p {
//    text-align: center;
//  }
//  .file {
//    opacity: 0;
//    height: 135px;
//    z-index: 2;
//    width: 100%;
//  }
//  span {
//    position: absolute;
//    border-style: dotted;
//    width: 100%;
//    height: 135px;
//    text-align: center;
//    z-index: 1;
//    border-radius: 10px;
//  }
//  button {
//    position: absolute;
//    z-index: 3;
//  }