@import '../style-variables';

.PostCreate {
  margin: 35vh auto;
  max-width: 33vw;
  background: $background;
  padding: 0.8em 1.4em;
  box-shadow: 0 0 2em $background;
  min-height: 36%;
  min-width: 36%;
  border-radius: $corner;
  h2, p {
    text-align: center;
  }
  .file {
    opacity: 0;
    height: 135px;
    z-index: 2;
    width: 100%;
  }
  span {
    position: absolute;
    border-style: dotted;
    width: 100%;
    height: 135px;
    text-align: center;
    z-index: 1;
    border-radius: 10px;
  }
  button {
    position: absolute;
    z-index: 3;
  }
}
