@import '../../library/scss/shared-styles.scss';


.Avatar {
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;

  img {
    width: 100%;
  }

  &.sm {
    width: $sm;
    height: $sm;
  }
  &.md {
    width: $md;
    height: $md;
  }
  &.lg {
    width: $lg;
    height: $lg;
  }
  &.xl {
    width: $xl;
    height: $xl;
  }
}