@import '../../style-variables';

.Logo {
  display: flex;
  padding: 15px;
  text-decoration: none;
  margin-right: auto;
  align-items: center;
  .logo-container {
    margin: 10px;
    width: 25px;
    object-fit: contain;
    img {
      width: 100%;
    }
  }
  span {
    color: $light-color;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
  }
}


body.Dark {
  .Logo {
    span {
      color: $pure-white;
    }
  }
}