@import "/src/library/scss/shared-styles.scss";

.PostPage {
  // max-height: 60vh;
  display: flex;
  background: $background;
  border-radius: $corner-big;
  width: 45vw;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  overflow: hidden;

  .description {
    padding: 0 1em;
  }
  .likes svg {
    margin-left: 0.2rem;
  }
  .Avatar {
    box-shadow: 0 0.5rem 2rem $light-accent;
  }
  .comments-list {
    padding: 0 1em;
    font-size: 1.1em;
  }
  .add-comment {
    margin: 0 auto;
    padding: 0.6em 0em;
    input {
      border: 1px solid $light-accent;
      border-radius: $corner;
      padding: 0.2em 0.8em;
      outline: $light-accent;
      font-size: inherit;
      line-height: 1.5em;
      font-family: inherit;
      width: 440px;

      letter-spacing: inherit;
      margin-right: 6px;

      &[type="submit"] {
        background: none;

        width: 80px;
        text-align: center;
        font-weight: 500;
        font-size: 0.95em;
      }
    }
  }
  header {
    // align-self: flex-end;
    justify-self: auto;
    display: inline;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-group {
      padding: 9px 8px;
    }
    .date {
      padding: 5px;
      margin-right: 5px;
      svg {
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .PostPage {
    width: 65vw;
    .add-comment input {
      width: 400px;
    }
  }
}

@media screen and (max-width: 900px) {
  .PostPage {
    width: 85vw;
    .add-comment input {
      width: 300px;
    }
  }
}

@media screen and (max-width: 720px) {
  .PostPage {
    width: 100vw;
    .add-comment input {
      width: 400px;
    }
  }
}
//   justify-content: flex-end;
//   .images {
//       justify-self: flex-start;
//   }
//   header {
//     padding: 0.8em 1.4em;
//     display: flex;
//     width: 40%;
//     justify-content: space-between;
//     align-items: center;
//     .date svg {
//       margin-right: 7px;
//     }
//   }
//   .likes {
//     margin-top: 20px;
//   }
// }

// .user-group {

//   display: flex;
//   align-items: center;
//   a {
//     padding-left: 0.2em;
//     text-decoration: none;
//     font-weight: 500;
//     color: $dark;
//   }
//   a:visited {
//     color: inherit;
//   }
// }
